@import url(https://fonts.googleapis.com/css?family=Butterfly+Kids);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

body{
  background: url('../img/background.jpg');
  background-size: cover;
  min-height: 750px;
}

header{
  text-align: center;
  color: #FF69B4;
  padding-bottom: .5em;
}

header>h1{
  text-shadow: 1px 1px #333;
  padding-top: 10px;
  margin: .25em;
}

h1{
  font-family: 'Butterfly Kids', cursive;
  font-size: 3rem;
}

h2{
  font-family: 'Indie Flower', cursive;
  color: #FF69B4;
  text-shadow: 1px 1px #333;
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 5px;
}

h3{
  font-family: 'Indie Flower', cursive;
  color: inherit;
  font-weight: bold;
  font-size: 1.5rem;
}

.navigation>ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.navigation ul li{
  display: inline;
  width: 60px;
  margin: 0 60px;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  font-size: 1.5rem;
}

.navigation ul>li:first-child{
  margin-left: 0;
}

.navigation ul>li:last-child{
  margin-right: 0;
}

.navigation ul li a{
  text-decoration: none;
  color: #FF69B4;
  text-shadow: 1px 1px #333;
}

.navigation ul li a:hover{
  color: #b4ff69;
}

.container{
  width: 900px;
  height: 700px;
  background: rgba(255, 255, 255, 0.75);
  margin: 0 auto;
  border-radius: 10px;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
}

#content{
  height: 500px;
}

.home{
  text-align: center;
}

.home>h1{
  font-family: 'Indie Flower', cursive;
  margin-top: 0px;
  margin-bottom: 30px;
  color: #b4ff69;
  text-shadow: 2px 2px #333;
  font-size: 4.25rem;
}

.selectgame{
  width: 300px;
  height: 150px;
  background-color: #FF69B4;
  float: left;
  margin-left: 11%;
  margin-bottom: 15px;
  box-shadow: 5px 5px 5px #888888;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  color: white;
  border-bottom: solid 10px #b4ff69;
  border-radius: 10px;
}

.selectgame:nth-child(even){
  margin-right: 11%;
  float: right;
  clear:both;
}

.selectgame:hover{
  box-shadow: none;
  color: #b4ff69;
}

#colorbox p,
#matchingbox p,
#countingbox p{
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 5px;
}

#whackamolebox{
  line-height: .85em;
  font-size: 3em;
}

#whackamolebox p{
  margin-top: 15px;
  margin-bottom: 0px;
}

/*---------Color Game----------*/

.instructions{
  text-align: center;
  margin-bottom: 50px;
}

.colorbox{
  width: 200px;
  height: 150px;
  background-color: grey;
  float: left;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 25px;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 10px;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
}

.colorbox:nth-child(1),
.colorbox:nth-child(4){
  margin-left: 90px;
}

.colorbox:nth-child(3),
.colorbox:nth-child(6){
  margin-right: 90px;
}

.colorbox:hover{
  box-shadow: none;
}

.btn {
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  text-shadow: 0px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: 'Indie Flower', cursive;
  color: #ffffff;
  font-size: 1.5rem;
  background: #FF69B4;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #FF69B4;
  text-decoration: none;
}

.red{background-color: red}
.green{background-color: green}
.blue{background-color: blue}
.yellow{background-color: yellow}
.purple{background-color: purple}
.orange{background-color: orange}

/*---------Whackamole Game----------*/

.molebox{
  width: 200px;
  height: 150px;
  background: url('../img/molehill.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 25px;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 10px;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
}

.molebox:nth-child(1),
.molebox:nth-child(4){
  margin-left: 90px;
}

.molebox:nth-child(3),
.molebox:nth-child(6){
  margin-right: 90px;
}

.molebox:hover{
  box-shadow: none;
}

.peep{
  background: url('../img/mole.png');
  background-position: center;
  background-repeat: no-repeat;
}

.whack{
  background: url('../img/whack.png');
  background-position: center;
  background-repeat: no-repeat;
}

/*---------Matching Game----------*/

.cardbox{
  width: 105px;
  height: 150px;
  float: left;
  margin-left: 55px;
  margin-right: 55px;
  margin-bottom: 25px;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 2px;
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
}

.cardbox:nth-child(1),
.cardbox:nth-child(5){
  margin-left: 70px;
}

.cardbox:nth-child(4),
.cardbox:nth-child(8){
  margin-right: 70px;
}

.cardbox:hover{
  box-shadow: none;
}


.smile{
  background: url('../img/smile.png');
  background-position: center;
  background-repeat: no-repeat;
}

.flower{
  background: url('../img/flower.png');
  background-position: center;
  background-repeat: no-repeat;
}

.pizza{
  background: url('../img/pizza.png');
  background-position: center;
  background-repeat: no-repeat;
}

.cat{
  background: url('../img/kitten.png');
  background-position: center;
  background-repeat: no-repeat;
}

.cardback{
  background: url('../img/cardpattern.png');
  background-position: center;
  background-repeat: no-repeat;
}

.match{
  background-color: red;
  background-position: center;
  background-repeat: no-repeat;
}
